<?php

$host = "localhost_name";
$username = "root";
$password = "";
$database = "IEC";

$conn = new mysqli($host, $username, $password, $database);

if($conn->connect_error){
    die("Connection Failed");
}